.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pens-primary {
  background-color: #103968;
}

/* Banner header */
.pens-banner video {
  display: block;
  vertical-align: baseline;
  min-width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
}

/* Statistic Area */
.statistic-area {
  position: relative;
  background-image: url(../public/asset/banner_pens.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  opacity: 0.92
}
.statistic-area .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 49, 95, 0.85);
}
.textwidget {
  width: 250px;
  padding: 0 1rem;
}